.Img-1 {
    background: url("https://picsum.photos/500/600/?random");
}

.Img-2 {
    background: url("https://picsum.photos/500/200/?random");
}

.Img-3 {
    background: url("https://picsum.photos/600/300");
}

.Img-4 {
    background: url("https://picsum.photos/500/500");
}

.Img-height {
    height: 150px;
}