.background {
    background-color: powderblue;
}

.soyeulylich {
    text-align: center;
    color: red;
}

.font {
    font-family: 'Montserrat', sans-serif;
}

.avatar {
    width: 200px;
}

h2 {
    color: blue;
}

.contact {
    display: flex;
}

.content {}